name: CI Pipeline

on:
  push:
    branches:
      - 'feat/**'
      - 'bugfix/**'
      - 'docs/**'
      - 'main'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Install dependencies
      run: poetry install --no-interaction --no-root

    - name: Run pytest
      run: |
        poetry run pytest

    - name: Run ruff
      run: |
        poetry run ruff check
